.screen-splash

  .logo
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 64px
    width: 200px
    height: 55px
    background-image: url("../images/splash-logo.png")
    background-size: 100%
    z-index: 2

  .image
    position: absolute
    right: 0
    top: calc(55px + 104px)
    width: 375px
    height: 425px
    background-image: url("../images/splash-image.png")
    background-repeat: no-repeat
    background-position: right center
    background-size: 100% auto
    z-index: 1