.screen-schedule


  > .wrapper
    padding-right: 1rem
    padding-left: 4rem
    > .toggle-buttons
      margin-top: 2.5rem
      margin-bottom: 1.5rem

  > .hero
    margin-bottom: -1rem
    width: 100%
    height: 14rem
    background-color: hsl(0, 0%, 90%)
    background-image: url("../images/schedule-hero.svg")
    background-repeat: no-repeat
    background-size: 100%
    background-position: center center