@font-face {
  font-family: 'Objektiv Mk';
  src: url("../fonts/ObjektivMk1_Trial_Rg.ttf");
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 21px;
  line-height: 24px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
}

h3 {
  font-size: 14px;
  line-height: 18px;
}

h4 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 200;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
}

.mockup-screen {
  position: relative;
  width: 375px;
  height: 667px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  background-color: #fff;
  margin: 8rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.input-text {
  position: relative;
}

.input-text input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #9499B7;
  border-radius: 0;
  background-color: transparent;
  color: #373C4D;
  font-size: 14px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
}

.input-text input::-webkit-input-placeholder {
  color: #373C4D;
}

.input-text input:-moz-placeholder {
  color: #373C4D;
}

.input-text input::-moz-placeholder {
  color: #373C4D;
}

.input-text input:-ms-input-placeholder {
  color: #373C4D;
}

.input-text input:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.input-label {
  display: block;
  font-size: 12px;
  color: #66809F;
  width: 100%;
  margin-top: 16px;
}

.input-select {
  position: relative;
}

.input-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #9499B7;
  border-radius: 0;
  background-color: transparent;
  color: #373C4D;
  font-size: 14px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  background-image: url("../images/icon-select-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px;
}

.input-select select::-webkit-input-placeholder {
  color: #373C4D;
}

.input-select select:-moz-placeholder {
  color: #373C4D;
}

.input-select select::-moz-placeholder {
  color: #373C4D;
}

.input-select select:-ms-input-placeholder {
  color: #373C4D;
}

.top-menu {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #C33443;
  color: #fff;
}

.top-menu > .title {
  font-size: 18px;
}

.top-menu > .icon {
  width: 28px;
  height: 28px;
  margin: 11px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.top-menu > .icon:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.top-menu > .icon.-back {
  background-image: url("../images/icon-left.svg");
}

.top-menu > .icon.-edit {
  background-image: url("../images/icon-pencil.svg");
}

.accordion-container {
  background-color: #f0f0f0;
  padding-right: 64px;
  padding-left: 32px;
  padding-bottom: 16px;
  width: 100%;
}

.accordion-container > .accordion {
  border-top: 1px solid #9499B7;
  margin-top: 16px;
}

.accordion-container > .accordion:first-child {
  border-top: none;
  margin-top: none;
}

.accordion-container > .accordion .icontext {
  color: #66809F;
  font-size: 12px;
  line-height: 36px;
  height: 36px;
  padding-left: 24px;
}

.accordion-container > .accordion .icontext.-add, .accordion-container > .accordion .icontext.-addperson {
  cursor: pointer;
}

.accordion-container > .accordion > .title {
  height: 48px;
  line-height: 48px;
  margin: 0;
  font-size: 14px;
  color: #153563;
  border-bottom: 1px solid #9499B7;
  background-image: url("../images/icon-select-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px;
}

.accordion-container > .accordion > .list {
  padding-left: 32px;
}

.accordion-container > .accordion > .list > li {
  border-bottom: 1px solid #9499B7;
}

.accordion-container > .accordion > .list > li:last-child {
  border-bottom: none;
}

.accordion-container > .accordion > .list > li > h3 {
  height: 48px;
  line-height: 48px;
  margin: 0;
  font-size: 14px;
  color: #153563;
}

.accordion-container > .accordion > .list > li > ul {
  margin-top: -8px;
}

.button {
  border: none;
  outline: none;
  border-radius: 14px;
  padding: 0 1rem;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 28px;
  font-size: 14px;
  color: #373C4D;
  background-color: #f0f0f0;
}

.button:active {
  background-color: #d8d8d8;
}

.button.-right, .button.-left {
  width: auto;
}

.button.-left {
  float: left;
}

.button.-right {
  float: right;
}

.button.-ghost {
  color: #9499B7;
  background-color: transparent;
}

.button.-ghost:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.button.-facebook {
  color: #fff;
  background-color: #44599D;
}

.button.-facebook:active {
  background-color: #36477e;
}

.screen-splash .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 64px;
  width: 200px;
  height: 55px;
  background-image: url("../images/splash-logo.png");
  background-size: 100%;
  z-index: 2;
}

.screen-splash .image {
  position: absolute;
  right: 0;
  top: calc(55px + 104px);
  width: 375px;
  height: 425px;
  background-image: url("../images/splash-image.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% auto;
  z-index: 1;
}

.screen-login {
  padding-top: 96px;
  padding-left: 64px;
  padding-right: 64px;
}

.screen-login > .button {
  margin-top: 32px;
}

.screen-login > .-left.-ghost {
  cursor: default;
  font-size: 12px;
  padding: 0;
}

.screen-login > nav.sign {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}

.screen-login > nav.sign > a {
  padding-top: 64px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 14px;
  color: #66809F;
  background-position: center 0;
  background-size: 64px;
  background-repeat: no-repeat;
}

.screen-login > nav.sign > a:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.screen-login > nav.sign > a.-active {
  border-bottom: 3px solid #EF7466;
  color: #373C4D;
}

.screen-login > nav.sign > a.signin {
  background-image: url("../images/sign-in.svg");
}

.screen-login > nav.sign > a.signin.-active {
  background-image: url("../images/sign-in-active.svg");
}

.screen-login > nav.sign > a.signup {
  background-image: url("../images/sign-up.svg");
}

.screen-login > nav.sign > a.signup.-active {
  background-image: url("../images/sign-up-active.svg");
}

.screen-profile > .accordion-container {
  margin-top: 16px;
}

.screen-profile > .wrapper {
  padding-left: 64px;
  padding-right: 64px;
}

.screen-profile > .wrapper:before {
  content: '';
  background-color: #D43649;
  height: 144px;
  margin-left: -64px;
  margin-right: -64px;
  display: block;
  width: 100vw;
}

.screen-profile > .wrapper > .avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #D43649;
  margin-top: -80px;
  background-color: #fff;
  background-image: url("../images/avatar-thais.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.screen-profile > .wrapper > .name {
  font-size: 21px;
  color: #D43649;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.screen-profile > .wrapper > .input-text:before,
.screen-profile > .wrapper > .input-select:before {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  display: block;
  left: -48px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.screen-profile > .wrapper > .input-text.-birthday:before,
.screen-profile > .wrapper > .input-select.-birthday:before {
  background-image: url("../images/icon-birth.svg");
}

.screen-profile > .wrapper > .input-text.-gender:before,
.screen-profile > .wrapper > .input-select.-gender:before {
  background-image: url("../images/icon-gender.svg");
}

.screen-profile > .wrapper > .input-text.-email:before,
.screen-profile > .wrapper > .input-select.-email:before {
  background-image: url("../images/icon-mail.svg");
}

.screen-profile > .wrapper > .input-text.-phone:before,
.screen-profile > .wrapper > .input-select.-phone:before {
  background-image: url("../images/icon-phone.svg");
}
