@font-face {
  font-family: 'Objektiv Mk';
  src: url("../fonts/ObjektivMk1_Trial_Rg.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Objektiv Mk';
  src: url("../fonts/ObjektivMk1_Trial_Md.ttf");
  font-weight: 500;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 21px;
  line-height: 24px;
}

h2 {
  font-size: 18px;
  line-height: 18px;
}

h3 {
  font-size: 14px;
  line-height: 18px;
}

h4 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 200;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.mockup-screen {
  position: relative;
  width: 375px;
  height: 667px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  background-color: #fff;
  margin: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.tab-navigation {
  background-color: #373C4D;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.tab-navigation > a {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #373C4D;
  text-align: center;
  line-height: 3rem;
  font-size: 10px;
  transition: all 0.2s ease;
}

.tab-navigation > a.-home {
  background-image: url("../images/icons/coolgray-home.svg");
}

.tab-navigation > a.-history {
  background-image: url("../images/icons/coolgray-history.svg");
}

.tab-navigation > a.-add {
  background-image: url("../images/icons/coolgray-addagenda.svg");
}

.tab-navigation > a.-profile {
  background-image: url("../images/icons/coolgray-user.svg");
}

.tab-navigation > a.-notifications {
  background-image: url("../images/icons/coolgray-bell.svg");
}

.tab-navigation > a.-notifications.-hasnotifications {
  background-image: url("../images/icons/red-bell.svg");
}

.tab-navigation > a.-active {
  transform: scale(1.3);
}

.tab-navigation > a.-active.-home {
  background-image: url("../images/icons/white-home.svg");
}

.tab-navigation > a.-active.-history {
  background-image: url("../images/icons/white-history.svg");
}

.tab-navigation > a.-active.-add {
  background-image: url("../images/icons/white-addagenda.svg");
}

.tab-navigation > a.-active.-profile {
  background-image: url("../images/icons/white-user.svg");
}

.tab-navigation > a.-active.-notifications {
  background-image: url("../images/icons/white-bell.svg");
}

.input-text {
  position: relative;
}

.input-text input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-bottom: 1px solid #9499B7;
  border-radius: 0;
  background-color: transparent;
  color: #373C4D;
  font-size: 14px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
}

.input-text input::-webkit-input-placeholder {
  color: #373C4D;
}

.input-text input:-moz-placeholder {
  color: #373C4D;
}

.input-text input::-moz-placeholder {
  color: #373C4D;
}

.input-text input:-ms-input-placeholder {
  color: #373C4D;
}

.input-text input:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.input-label {
  display: block;
  font-size: 12px;
  color: #66809F;
  width: 100%;
  margin-top: 16px;
}

.input-select {
  position: relative;
}

.input-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-bottom: 1px solid #9499B7;
  border-radius: 0;
  background-color: transparent;
  color: #373C4D;
  font-size: 14px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  background-image: url("../images/icons/select-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px;
}

.input-select select::-webkit-input-placeholder {
  color: #373C4D;
}

.input-select select:-moz-placeholder {
  color: #373C4D;
}

.input-select select::-moz-placeholder {
  color: #373C4D;
}

.input-select select:-ms-input-placeholder {
  color: #373C4D;
}

.top-menu {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #C33443;
  color: #fff;
}

.top-menu > .title {
  font-size: 18px;
}

.top-menu > .icon {
  width: 28px;
  height: 28px;
  margin: 11px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.top-menu > .icon:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.top-menu > .icon.-back {
  background-image: url("../images/icons/white-left.svg");
}

.top-menu > .icon.-edit {
  background-image: url("../images/icons/white-pencil.svg");
}

.top-menu.-gray {
  background-color: rgba(0, 0, 0, 0.05);
  color: #373C4D;
}

.top-menu.-gray > .title > span {
  color: #D43649;
}

.top-menu.-gray > .icon.-back {
  background-image: url("../images/icons/dark-left.svg");
}

.top-menu.-gray > .icon.-edit {
  background-image: url("../images/icons/dark-pencil.svg");
}

.accordion-container {
  background-color: #f0f0f0;
  padding-right: 64px;
  padding-left: 32px;
  padding-bottom: 16px;
  width: 100%;
}

.accordion-container > .accordion {
  border-top: 1px solid #9499B7;
  margin-top: 16px;
}

.accordion-container > .accordion:first-child {
  border-top: none;
  margin-top: none;
}

.accordion-container > .accordion .icontext {
  color: #66809F;
  font-size: 12px;
  line-height: 36px;
  height: 36px;
  padding-left: 28px;
  background-image: url("../images/icons/coolgray-check.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px;
}

.accordion-container > .accordion .icontext.-add, .accordion-container > .accordion .icontext.-addperson {
  cursor: pointer;
}

.accordion-container > .accordion .icontext.-add {
  background-image: url("../images/icons/coolgray-add.svg");
}

.accordion-container > .accordion .icontext.-addperson {
  background-image: url("../images/icons/coolgray-addperson.svg");
}

.accordion-container > .accordion > .title {
  height: 48px;
  line-height: 48px;
  margin: 0;
  font-size: 14px;
  color: #153563;
  border-bottom: 1px solid #9499B7;
  background-image: url("../images/icons/select-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px;
}

.accordion-container > .accordion .-photo {
  background-image: url("../images/icons/camera.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px;
}

.accordion-container > .accordion > .list {
  padding-left: 32px;
}

.accordion-container > .accordion > .list > li {
  border-bottom: 1px solid #9499B7;
}

.accordion-container > .accordion > .list > li:last-child {
  border-bottom: none;
}

.accordion-container > .accordion > .list > li > h3 {
  height: 48px;
  line-height: 48px;
  margin: 0;
  font-size: 14px;
  color: #153563;
}

.accordion-container > .accordion > .list > li > ul {
  margin-top: -8px;
}

.toggle-buttons {
  display: flex;
}

.toggle-buttons > .button {
  margin-left: 1px;
  margin-right: 1px;
}

.toggle-buttons > .button:first-child {
  margin-left: 0;
  border-radius: 1rem 0 0 1rem;
}

.toggle-buttons > .button:last-child {
  margin-right: 0;
  border-radius: 0 1rem 1rem 0;
}

.toggle-buttons > .button.-active {
  background-color: #373C4D;
  color: #fff;
}

.schedule-agenda > .title {
  color: #D43649;
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: 500;
}

.schedule-agenda > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

.schedule-agenda > ul > li > span {
  color: #373C4D;
}

.range-selector {
  height: 4px;
  background-color: #f0f0f0;
  border-radius: 2px;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.range-selector > .fill {
  position: absolute;
  height: 4px;
  background-color: #9499B7;
  left: 10%;
  right: 40%;
  z-index: 1;
}

.range-selector > .from,
.range-selector > .to {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #D43649;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  color: #66809F;
  font-size: 12px;
  line-height: 3rem;
}

.range-selector > .from {
  left: 10%;
}

.range-selector > .to {
  left: 60%;
}

.profile-wrapper {
  padding-left: 64px;
  padding-right: 64px;
}

.profile-wrapper:before {
  content: '';
  background-color: #D43649;
  height: 144px;
  margin-left: -64px;
  margin-right: -64px;
  display: block;
  width: 100vw;
}

.profile-wrapper > .avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #D43649;
  margin-top: -80px;
  background-color: #fff;
  background-image: url("../images/avatar-thais.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.profile-wrapper > .name {
  font-size: 21px;
  color: #D43649;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.profile-wrapper > .label {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 48px;
  line-height: 48px;
  width: 100%;
  border-bottom: 1px solid #9499B7;
  border-radius: 0;
  background-color: transparent;
  color: #373C4D;
  font-size: 14px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
}

.profile-wrapper > .label::-webkit-input-placeholder {
  color: #373C4D;
}

.profile-wrapper > .label:-moz-placeholder {
  color: #373C4D;
}

.profile-wrapper > .label::-moz-placeholder {
  color: #373C4D;
}

.profile-wrapper > .label:-ms-input-placeholder {
  color: #373C4D;
}

.profile-wrapper > .label.-accordion {
  background-image: url("../images/icons/select-red-down.svg");
  background-repeat: no-repeat;
  background-position: right 1.125rem;
  background-size: 12px;
}

.profile-wrapper > .label.-accordion.-up {
  background-image: url("../images/icons/select-red-up.svg");
}

.profile-wrapper > .label.-accordion.-open {
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-wrapper > .label.-accordion.-open > div {
  height: 1.25rem;
  line-height: 1.25rem;
}

.profile-wrapper > .label.-accordion.-open > div:first-child {
  color: #D43649;
}

.profile-wrapper > .label.-accordion.-open > div > span {
  color: #999999;
}

.profile-wrapper > .label:before,
.profile-wrapper > .input-text:before,
.profile-wrapper > .input-select:before {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  display: block;
  left: -48px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.profile-wrapper > .label.-birthday:before,
.profile-wrapper > .input-text.-birthday:before,
.profile-wrapper > .input-select.-birthday:before {
  background-image: url("../images/icons/coolgray-birth.svg");
}

.profile-wrapper > .label.-gender:before,
.profile-wrapper > .input-text.-gender:before,
.profile-wrapper > .input-select.-gender:before {
  background-image: url("../images/icons/coolgray-gender.svg");
}

.profile-wrapper > .label.-email:before,
.profile-wrapper > .input-text.-email:before,
.profile-wrapper > .input-select.-email:before {
  background-image: url("../images/icons/coolgray-mail.svg");
}

.profile-wrapper > .label.-phone:before,
.profile-wrapper > .input-text.-phone:before,
.profile-wrapper > .input-select.-phone:before {
  background-image: url("../images/icons/coolgray-phone.svg");
}

.profile-wrapper > .label.-specialty:before,
.profile-wrapper > .input-text.-specialty:before,
.profile-wrapper > .input-select.-specialty:before {
  background-image: url("../images/icons/red-stethoscope.svg");
}

.profile-wrapper > .label.-contact:before,
.profile-wrapper > .input-text.-contact:before,
.profile-wrapper > .input-select.-contact:before {
  background-image: url("../images/icons/red-chat.svg");
}

.profile-wrapper > .label.-history:before,
.profile-wrapper > .input-text.-history:before,
.profile-wrapper > .input-select.-history:before {
  background-image: url("../images/icons/red-history.svg");
}

.alert-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(102, 128, 159, 0.66);
  z-index: 99;
}

.alert-box > .alert {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 4rem);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alert-box > .alert > p {
  color: #373C4D;
  font-size: 18px;
  margin-bottom: 1rem;
}

.alert-box > .alert > span {
  font-size: 14px;
}

.alert-box > .alert > span.-gray {
  color: #999999;
}

.alert-box > .alert > span.-red {
  color: #D43649;
}

.alert-box > .alert > .toggle-buttons {
  margin-top: 1rem;
}

.alert-box > .alert > .toggle-buttons > .button {
  padding-right: 2rem;
  padding-left: 2rem;
}

.home-card {
  background-color: #fff;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.home-card > .title {
  color: #D43649;
  font-size: 18px;
}

.home-card > .button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.home-card > .label {
  border-top: 1px solid #9499B7;
  border-bottom: none;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-left: 3rem;
  width: auto;
  position: relative;
  color: #373C4D;
}

.home-card > .label > div:not(:first-child) {
  color: #D43649;
}

.home-card > .label:before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  display: block;
  left: -3rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  top: calc(50% + 0.5rem);
  transform: translateY(-50%);
}

.home-card > .label.-arrival:before {
  background-image: url("../images/icons/red-clock.svg");
}

.home-card > .label.-contact:before {
  background-image: url("../images/icons/red-chat.svg");
}

.doctor-card {
  display: flex;
  align-items: center;
}

.doctor-card > .date {
  margin-right: 1rem;
  width: 2rem;
  color: #66809F;
  text-align: center;
  background-color: #f0f0f0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.doctor-card > .date > div:first-child {
  font-size: 18px;
}

.doctor-card > .date > div:nth-child(2) {
  font-size: 12px;
}

.doctor-card > .avatar {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-image: url("../images/avatar-doctor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.doctor-card > .info {
  font-size: 14px;
  color: #373C4D;
}

.doctor-card > .info > .name {
  margin-bottom: 0.25rem;
}

.doctor-card > .info > .specialty {
  color: #999999;
}

.next-appointments {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  padding-bottom: 2rem;
}

.next-appointments > .title {
  color: #66809F;
}

.next-appointments > .timeline {
  position: absolute;
  left: 1rem;
  top: 3rem;
  bottom: 0;
  width: 1px;
  background-color: #66809F;
  z-index: 1;
}

.next-appointments > .timeline:after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #66809F;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.next-appointments > .doctors {
  position: relative;
  z-index: 2;
}

.next-appointments > .doctors > .doctor-card {
  margin-bottom: 1rem;
  justify-content: space-between;
}

.next-appointments > .doctors > .doctor-card > .button {
  background-color: #cfd3de;
  color: #373C4D;
  margin-left: 1rem;
}

.button {
  border: none;
  outline: none;
  border-radius: 14px;
  padding: 0 0.75rem;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 28px;
  font-size: 14px;
  color: #373C4D;
  background-color: #e6e6e6;
}

.button:active {
  background-color: #cccccc;
}

.button.-full {
  width: 100%;
}

.button.-right, .button.-left {
  width: auto;
}

.button.-left {
  float: left;
}

.button.-right {
  float: right;
}

.button.-ghost {
  color: #9499B7;
  background-color: transparent;
}

.button.-ghost:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.button.-facebook {
  color: #fff;
  background-color: #44599D;
}

.button.-facebook:active {
  background-color: #36477e;
}

.screen-splash .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 64px;
  width: 200px;
  height: 55px;
  background-image: url("../images/splash-logo.png");
  background-size: 100%;
  z-index: 2;
}

.screen-splash .image {
  position: absolute;
  right: 0;
  top: calc(55px + 104px);
  width: 375px;
  height: 425px;
  background-image: url("../images/splash-image.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% auto;
  z-index: 1;
}

.screen-login {
  padding-top: 96px;
  padding-left: 64px;
  padding-right: 64px;
}

.screen-login > .button {
  margin-top: 32px;
}

.screen-login > .-left.-ghost {
  cursor: default;
  font-size: 12px;
  padding: 0;
}

.screen-login > nav.sign {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}

.screen-login > nav.sign > a {
  padding-top: 64px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 14px;
  color: #66809F;
  background-position: center 0;
  background-size: 64px;
  background-repeat: no-repeat;
}

.screen-login > nav.sign > a:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.screen-login > nav.sign > a.-active {
  border-bottom: 3px solid #EF7466;
  color: #373C4D;
}

.screen-login > nav.sign > a.signin {
  background-image: url("../images/sign-in.svg");
}

.screen-login > nav.sign > a.signin.-active {
  background-image: url("../images/sign-in-active.svg");
}

.screen-login > nav.sign > a.signup {
  background-image: url("../images/sign-up.svg");
}

.screen-login > nav.sign > a.signup.-active {
  background-image: url("../images/sign-up-active.svg");
}

.screen-profile > .accordion-container {
  margin-top: 16px;
}

.screen-schedule > .hero {
  margin-bottom: -1rem;
  width: 100%;
  height: 14rem;
  background-color: #e6e6e6;
  background-image: url("../images/schedule-hero.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.screen-schedule > .wrapper {
  padding-right: 1rem;
  padding-left: 4rem;
}

.screen-schedule > .wrapper > .toggle-buttons {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.screen-schedule > .wrapper > .input-text:before,
.screen-schedule > .wrapper > .input-select:before {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  display: block;
  left: -48px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.screen-schedule > .wrapper > .input-text.-address:before,
.screen-schedule > .wrapper > .input-select.-address:before {
  background-image: url("../images/icons/dark-location.svg");
}

.screen-schedule > .wrapper > .input-text.-shift:before,
.screen-schedule > .wrapper > .input-select.-shift:before {
  background-image: url("../images/icons/dark-shift.svg");
}

.screen-schedule > .wrapper > .input-text.-specialization:before,
.screen-schedule > .wrapper > .input-select.-specialization:before {
  background-image: url("../images/icons/dark-stethoscope.svg");
}

.screen-schedule > .wrapper > .input-text.-disabled select,
.screen-schedule > .wrapper > .input-select.-disabled select {
  color: #999999;
}

.screen-schedule > .wrapper > .input-text.-disabled.-address:before,
.screen-schedule > .wrapper > .input-select.-disabled.-address:before {
  background-image: url("../images/icons/light-location.svg");
}

.screen-schedule > .wrapper > .input-text.-disabled.-shift:before,
.screen-schedule > .wrapper > .input-select.-disabled.-shift:before {
  background-image: url("../images/icons/light-shift.svg");
}

.screen-schedule > .wrapper > .input-text.-disabled.-specialization:before,
.screen-schedule > .wrapper > .input-select.-disabled.-specialization:before {
  background-image: url("../images/icons/light-stethoscope.svg");
}

.screen-schedule2 > .doctors {
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
}

.screen-schedule2 > .doctors > li {
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  background-image: url("../images/avatar-doctor.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.screen-schedule2 > .doctors > li.-active {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
}

.screen-schedule2 > .wrapper {
  padding-right: 1rem;
  padding-left: 4rem;
}

.screen-request {
  padding-top: 5rem;
}

.screen-request > .wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
}

.screen-request > .wrapper > .toggle-buttons {
  margin-bottom: 1.5rem;
}

.screen-request > .wrapper > .specialties {
  position: relative;
}

.screen-request > .wrapper > .specialties > .title {
  text-align: center;
  color: #373C4D;
}

.screen-request > .wrapper > .specialties > .next {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: #cfd3de;
}

.screen-request > .wrapper > .specialties > .list {
  display: flex;
  flex-wrap: wrap;
}

.screen-request > .wrapper > .specialties > .list > .item {
  border-radius: 4px;
  background-color: #ebebeb;
  width: calc(50% - 0.25rem);
  margin: 0.25rem;
  height: 7rem;
  text-align: center;
  color: #373C4D;
  background-size: 6rem;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.screen-request > .wrapper > .specialties > .list > .item:active {
  background-color: #cfd3de;
}

.screen-request > .wrapper > .specialties > .list > .item > .notification {
  background-color: #D43649;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  line-height: 2rem;
}

.screen-request > .wrapper > .specialties > .list > .item > span {
  width: 100%;
  margin-bottom: 0.5rem;
}

.screen-request > .wrapper > .specialties > .list > .item:nth-child(odd) {
  margin-left: 0;
}

.screen-request > .wrapper > .specialties > .list > .item:nth-child(even) {
  margin-right: 0;
}

.screen-request > .wrapper > .specialties > .list > .item.-cardio {
  background-image: url("../images/icons/specialty-cardio.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-clinic {
  background-image: url("../images/icons/specialty-clinic.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-derma {
  background-image: url("../images/icons/specialty-derma.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-gineco {
  background-image: url("../images/icons/specialty-gineco.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-nutri {
  background-image: url("../images/icons/specialty-nutri.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-oftal {
  background-image: url("../images/icons/specialty-oftal.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-active {
  background-color: rgba(212, 54, 73, 0.2);
}

.screen-request > .wrapper > .specialties > .list > .item.-active.-cardio {
  background-image: url("../images/icons/specialty-cardio-active.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-active.-clinic {
  background-image: url("../images/icons/specialty-clinic-active.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-active.-derma {
  background-image: url("../images/icons/specialty-derma-active.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-active.-gineco {
  background-image: url("../images/icons/specialty-gineco-active.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-active.-nutri {
  background-image: url("../images/icons/specialty-nutri-active.svg");
}

.screen-request > .wrapper > .specialties > .list > .item.-active.-oftal {
  background-image: url("../images/icons/specialty-oftal-active.svg");
}

.screen-doctor > .profile-wrapper > .avatar {
  background-image: url("../images/avatar-doctor.png");
}

.screen-doctor > .profile-wrapper > .crm {
  text-align: center;
  margin-bottom: 0.5rem;
}

.screen-doctor > .profile-wrapper > .stars {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.screen-doctor > .profile-wrapper > .stars > .star {
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/star-light.svg");
}

.screen-doctor > .profile-wrapper > .stars > .star.-full {
  background-image: url("../images/icons/star-dark.svg");
}

.screen-doctor > .profile-wrapper > .subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.screen-doctor > .profile-wrapper > .time-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
}

.screen-doctor > .profile-wrapper > .time-list > .item {
  width: 4.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #e6e6e6;
  margin-right: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #373C4D;
  margin-bottom: 2rem;
}

.screen-doctor > .profile-wrapper > .time-list > .item.-active {
  background-color: #373C4D;
  color: #fff;
}

.screen-doctor > .profile-wrapper > .time-list > .item.-now {
  background-color: #D43649;
  color: #fff;
}

.screen-dashboard > .wrapper {
  padding: 2rem 1rem;
}

.screen-dashboard > .wrapper > .item {
  display: flex;
  border-radius: 0.5rem;
  background-color: #e6e6e6;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  height: 6rem;
}

.screen-dashboard > .wrapper > .item:active {
  background-color: #cccccc;
}

.screen-dashboard > .wrapper > .item:active > .icon {
  opacity: 0.6;
}

.screen-dashboard > .wrapper > .item > .label {
  text-transform: uppercase;
  padding: 2rem;
  font-size: 12px;
  line-height: 1.5;
  color: #373C4D;
}

.screen-dashboard > .wrapper > .item > .icon {
  min-width: 7rem;
  min-height: 6rem;
  border-radius: 0.5rem 0 0 0.5rem;
  position: relative;
}

.screen-dashboard > .wrapper > .item > .icon::before {
  content: '';
  width: 8rem;
  height: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.screen-dashboard > .wrapper > .item.-appointment > .icon {
  background-color: #ffd8d7;
}

.screen-dashboard > .wrapper > .item.-appointment > .icon::before {
  background-image: url("../images/icons/dashboard-consulta.svg");
}

.screen-dashboard > .wrapper > .item.-exam > .icon {
  background-color: #cfd3de;
}

.screen-dashboard > .wrapper > .item.-exam > .icon::before {
  background-image: url("../images/icons/dashboard-exame.svg");
}

.screen-dashboard > .wrapper > .item.-lab > .icon {
  background-color: #373c4d;
}

.screen-dashboard > .wrapper > .item.-lab > .icon::before {
  background-image: url("../images/icons/dashboard-lab.svg");
}

.screen-dashboard > .wrapper > .item.-image > .icon {
  background-color: #deddde;
}

.screen-dashboard > .wrapper > .item.-image > .icon::before {
  background-image: url("../images/icons/dashboard-exames.svg");
}

.screen-dashboard > .wrapper > .item.-embergency > .icon {
  background-color: #ffd8d7;
}

.screen-dashboard > .wrapper > .item.-embergency > .icon::before {
  background-image: url("../images/icons/dashboard-emergency.svg");
}

.screen-home {
  background-color: #f0f0f0;
  padding-top: 5rem;
}
