@font-face {
  font-family: 'Objektiv Mk';
  src: url("../fonts/ObjektivMk1_Trial_Rg.ttf");
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
  font-family: "Objektiv Mk", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
}

.mockup-screen {
  width: 750px;
  min-height: 1334px;
  display: block;
  background-color: #fff;
  margin: 8rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.input-text {
  appearance: none;
  border: none;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #9499B7;
  margin-bottom: 2rem;
  color: #373C4D;
  font-size: 30px;
}

.input-text::-webkit-input-placeholder {
  color: #373C4D;
}

.input-text:-moz-placeholder {
  color: #373C4D;
}

.input-text::-moz-placeholder {
  color: #373C4D;
}

.input-text:-ms-input-placeholder {
  color: #373C4D;
}

.button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  border: none;
  outline: none;
  height: 3.5rem;
  border-radius: 1.75rem;
  background-color: #f0f0f0;
}

.button:focus {
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.screen-splash {
  position: relative;
}

.screen-splash .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 400px;
  height: 110px;
  background-image: url("../images/splash-logo.png");
  z-index: 2;
}

.screen-splash .image {
  position: absolute;
  right: 0;
  top: calc(110px + 10%);
  width: 750px;
  height: 850px;
  background-image: url("../images/splash-image.svg");
  background-repeat: no-repeat;
  background-position: right center;
  z-index: 1;
}

.screen-login {
  padding-left: calc(4rem + 4vw);
  padding-right: calc(4rem + 4vw);
}
