.doctor-card
  display: flex
  align-items: center
  position: relative

  > .date
    margin-right: 1rem
    width: 2rem
    color: $color-coolgray
    text-align: center
    background-color: hsl(0, 0, 94%)
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    > div:first-child
      font-size: $font-size-deca
    > div:nth-child(2)
      font-size: $font-size-deci

  > .avatar
    width: 2.5rem
    min-width: 2.5rem
    height: 2.5rem
    margin-right: 1rem
    border-radius: 50%
    background-image: url("../images/avatar-doctor.png")
    background-position: center
    background-repeat: no-repeat
    background-size: 100%

  > .info
    font-size: $font-size-base
    color: $color-coolgray-dark
    > .name
      margin-bottom: 0.25rem
    > .specialty
      color: hsl(0, 0, 60%)