.top-menu
  height: 50px
  display: flex
  align-items: center
  justify-content: space-between
  position: absolute
  left: 0
  top: 0
  right: 0
  background-color: $color-highlight-dark
  color: #fff

  > .title
    font-size: $font-size-deca

  > .icon
    width: 28px
    height: 28px
    margin: 11px
    background-size: 100%
    background-position: center
    background-repeat: no-repeat

    &:active
      background-color: rgba(#000, 0.1)

    &.-back
      background-image: url("../images/icons/white-left.svg")
    &.-edit
      background-image: url("../images/icons/white-pencil.svg")

  &.-gray
    background-color: rgba(#000, 0.05)
    color: $color-coolgray-dark
    > .title > span
      color: $color-highlight
    > .icon
      &.-back
        background-image: url("../images/icons/dark-left.svg")
      &.-edit
        background-image: url("../images/icons/dark-pencil.svg")
