body
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  align-content: flex-start


[class^='screen-'],
[class*=' screen-']
  width: 750px
  min-height: 1334px
  display: block
  background-color: #fff
  margin: 8rem
  box-shadow: 0 8px 24px rgba(#000, 0.3)