html

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    title Santa Lúcia
    meta name="description" content=""
    meta name="author" content=""
    meta name="keywords" content=""
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="icon" type="image/png" href="./images/favicon.png"
    link href="./style/style.css" rel="stylesheet" type='text/css'

  body

    content.screen-splash

      .logo
      
      .image


    content.screen-login

      nav.sign
        a.signin Entrar
        a.signup Registrar

      input type="text" placeholder="email"
      input type="text" placeholder="senha"

      a.button Entrar
      a.button.-facebook Entrar com Facebook
      a.button Não possui conta?
      a.button Registrar
      a.button Esqueceu a senha?
      

    content.screen-profile

      header
        a.back
        span.title Meu Perfil
        a.edit

      .info
        .avatar
        span.name Thais Lorenzini
        input type="text" value="26/10/1985"
        input type="text" value="thais.lorenzini@gmail.com"

      .accordion
        span.title Plano de Saúde

      .accordion
        span.title Formas de Pagamento

