html

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    title Santa Lúcia
    meta name="description" content=""
    meta name="author" content=""
    meta name="keywords" content=""
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link rel="icon" type="image/png" href="./images/favicon.png"
    link href="./style/style.css" rel="stylesheet" type='text/css'

  body.screen-login

    nav.sign
      a.signin.-active Entrar
      a.signup Registrar

    .input-text
      input#email type="text" placeholder="email"
    .input-text
      input#password type="text" placeholder="senha"

    a.button Entrar
    a.button.-facebook Entrar com Facebook
    a.button.-left.-ghost Esqueceu a senha?
    a.button.-right Recuperar