$font-family-default: 'Objektiv Mk', Helvetica, sans-serif

$font-size-mega: 48px
$font-size-kilo: 32px
$font-size-hecto: 21px
$font-size-deca: 18px
$font-size-base: 14px
$font-size-deci: 12px
$font-size-centi: 10px
$font-size-mili: 8px

$line-height-mega: 48px
$line-height-kilo: 36px
$line-height-hecto: 28px
$line-height-deca: 24px
$line-height-base: 18px
$line-height-deci: 16px
$line-height-centi: 14px
$line-height-mili: 10px
